.container {
    width: 100%;
    height: 400px;
    /* Fixed height container for the canvas */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.canvas {
    width: 100%;
    height: 100%;
}