.container {
    padding: 4rem 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.text {
    font-family: var(--font-inter);
    font-style: italic;
    font-size: 0.75rem;
    /* 12px */
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.02em;
}